# ps5-native-app-boilerplate - Clang static-analysis policy.
# Copyright (C) 2026 BlackBearReloaded
# SPDX-License-Identifier: GPL-3.0-or-later

Checks: >-
  -*,
  clang-analyzer-core.*,
  clang-analyzer-security.*,
  -clang-analyzer-security.ArrayBound,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling
WarningsAsErrors: '*'
HeaderFilterRegex: '(^|/)src/|(^|/)tooling/native/'
FormatStyle: file
